.articleDetails{
    width: 100%;
    background-color: $brown;
    .imgArea{
        position: relative;
        width: 100%;
        img{
            width: 100%;
            height: 80vh;
            object-fit: cover;
            // object-position: ceil(20%);
            // object-position: 0px -700px;
            object-position: center;
        }
        .container{
            position: absolute;
            top: 40%;
            right:100px ;
            h1{
                
                text-align: end;
                font-size: 5rem;
                color: white;
                text-shadow: 0 5px 5px rgba(0, 0, 0, 0.636);

            }
            .buttonContainer{
                margin-top: 2em;
                display: flex;
                justify-content: end;
                gap: 30px;
                
                .button{
                    text-decoration: none;
                    color: white;
                    font-size: 1rem;
                    background-color: #4F0D0E;
                    border-radius: 10px;
                    font-weight: 600;
                    // padding: 8px 16px;
                    width: 110px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:nth-child(2){
                        background-color: #12382F;
                    }
                    &:hover{
                        transform: scale(1.04);
                    }
                }

            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 200px;
            // background-color: $brown;
            background: linear-gradient(transparent, $brown);
            bottom: 0px;
            left: 0;
        }
        .back{
            color: black;
            display: flex;
            text-decoration: none;
            position: absolute;
            top: 17%;
            left: 5%;
            align-items: center;
            justify-content: center;
            // background-color: green;
            gap: 10px;
            padding: 0;
            i{
                font-size: 2rem;
                color: white;
                margin: 0;
                padding: 0;
                // background-color: red;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p{
                font-size: 1.4rem;
                color: $redBrown;
                // color: white;
                font-weight: 700;

            }
        }
    }
    .textArea{
        padding: 4em 6em;
        text-align: justify;
        font-size: 1.3em;
        line-height: 25px;
        font-weight: 500;
        color: white;
        p{
            text-indent: 70px;
        }
        h4{
            // font-size: 1.4;
        }
        h2{
            margin-top: 20px;
        }
        h3{
            margin-top: 10px;
            // text-indent: 20p;
            margin-left: 20px;
            font-weight: 500;
        }
    }

}