header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.211);
    backdrop-filter: blur(20px);
    color: white;
    .headerContainer{
        display: flex;
        justify-content: space-between;
        padding: 0 4em;
        height: 100%;
        .left{
            display: flex;
            align-items: center;
            gap: 10px;
            .img{
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 100%;
                }
            }
            h2{
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        .right{
            display: flex;
            align-items: center;
            gap: 50px;
            nav{
                display: flex;
                align-items: center;
                height: 100%;
                gap: 40px;
            }
            ul{
                display: flex;
                gap: 40px;
                li{
                    display: inline-block;
                    .navItem{
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.2rem;
                    &:hover{
                        color: $brown;
                        padding-bottom: 3px;
                        border-bottom: 2px solid $brown
                    }
                }
            }
            }
            .headerToLogin{
                color: $green;
                background-color: white;
                padding: 8px 20px;
                border-radius: 99px;
                text-decoration: none;
                font-weight: 700;
                &:hover{
                    background-color: $brown;
                    color: white;
                }
            }
            i{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                display: none;
            }
        }
    }
}