header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: black;
    .headerContainer{
        display: flex;
        justify-content: space-between;
        padding: 0 4em;
        height: 100%;
        .left{
            display: flex;
            align-items: center;
            gap: 10px;
            .img{
                width: 30px;
                height: 30px;
                background-color: rgb(176, 176, 176);
                border-radius: 50%;
                img{
                    width: 100%;
                }
            }
            h2{
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        .right{
            display: flex;
            align-items: center;
            gap: 50px;
            nav{
                display: flex;
                align-items: center;
                // background-color: red;
                height: 100%;
                gap: 40px;
            }
            ul{
                display: flex;
                gap: 40px;
                li{
                    display: inline-block;
                    .navItem{
                    color: black;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.1rem;
                    &:hover{
                        // background-color: red;
                        padding-bottom: 3px;
                        border-bottom: 2px solid $brown
                    }
                }
                // background-color: red;
                // padding-bottom: 10px;
                // gap: 2px;
            }
            }
            .headerToLogin{
                color: $green;
                background-color: white;
                padding: 8px 20px;
                border-radius: 99px;
                text-decoration: none;
                font-weight: 700;

            }
            i{
                // background-color: red;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                display: none;
            }
        }
    }
}