#home{
    #landingPage{
        width: 100%;
        height: 100vh;
        background: url('../images//backgroundHome.png');
        background-size: 100% 100%;
        position: relative;
        h1{
            font-size: 7rem;
            position: absolute;
            top: 15%;
            right: 50%;
            transform: translateX(50%);
        }
        .scaleImage{
            width: 920px;
            position: absolute;
            bottom: -4px;
            right: 50%;
            transform: translateX(50%);
            img{
                width: 100%;
            }
            .jarumImage{
                position: absolute;
                bottom: -65px;
                right: 50%;
                transform: translateX(42%);
            }
        }
    }
    #aboutBeFit{
        width: 100%;
        // height: 110vh;
        background-color: #434343;
        display: flex;
        align-items: center;
        gap: 10em;
        // background-color: red;
        padding: 9em;
        padding-bottom: 12em;
        color: white;

        .logoArea{
            position:relative;
            &::after{
                content: '';
                width: 100%;
                height: 20px;
                background-color: rgba(0, 0, 0, 0.473);
                position: absolute;
                bottom: -80px;
                left: 0;
                border-radius: 50%;
                filter: blur(5px);
            }
            margin-bottom: 20px;
            img{
                width: 100%;
            }
        }
        h2{
            display: none;
            font-size: 6rem;
            text-align: center;
        }
        .textArea{
            flex: 1;
            h2{
                display: block;
                text-align: end;
            }
            p{
                text-align: justify;
                line-height: 30px;
                margin-top: 40px;
                font-size: 1.4rem;
            }
            // background-color:green;
        }
    }
    #calculatorSection{
        width: 100%;
        height: 125vh;
        background: url('../images/backgroundCalculator.png');
        background-size: cover;
        margin-top: -13em;
        position: relative;
        .container{
            // background-color: green;
            width: 80%;
            justify-content: space-between;
            // background-color: red;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%,-30%);
            display: flex;
            align-items: center;
            .takeline{
                // background-color: red;
                width: 40%;
                font-size: 4.5rem;
                color: white;
            }
            .calculator{
                background-color: white;
                padding: 2em 4em;
                height: 400px;
                width: 550px;
                border-radius: 50px;
                h2{
                    font-size: 2.2rem;
                    color: $redBrown;
                    font-weight: 800;
                    text-align: center;
                    margin-bottom: 1em;
                }
                .inputArea{
                    // background-color: red;
                    margin-top: 25px;
                    display: flex;
                    gap: 10px;
                    &>label{
                        width: 50%;
                        font-size: 1.5rem;
                        color: $redBrown;
                        font-weight: 600;
                        // background-color: blue;
                    }
                    &>input{
                        font-weight: 600;
                        width: 60px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;

                        // background-color: red;
                        font-size: 1.2rem;
                        outline: none;
                        border: 0;
                        border: 2px solid $redBrown;
                        // margin-left: 10px;
                    }
                    .inputRadio{
                        
                        // background-color: red;
                        width: 50%;
                        div{
                            margin-top: 5px;
                            &:nth-child(2){
                                margin-top: 10px;
                            }
                            display: flex;
                            // background: aqua;
                            input{
                                width: 10%;
                            }
                            label{
                                margin-left: 10px;
                                font-weight: 600;
                                font-size: 1.2rem;
                                color: $redBrown;
                                
                            }

                        }
                        input{

                            // background-color: yellow;
                            // background-color: blue;
                        }
                        label{
                            // display: block;
                            // margin-left: 10px;
                        }

                    }
                }
                .isEmpty{
                    // background-color: red;
                    margin-top: 5px;
                    text-align: center;
                    font-size: 1rem;
                    color: red;
                    // margin;
                    margin-top: 15px;
                    font-weight: 600;
                }
                button{
                    margin-top: .7em;
                    background-color: $redBrown;
                    color: white;
                    width: 100%;
                    height: 60px;
                    border-radius: 50px;
                    font-size: 1.6rem;
                    font-weight: 600;
                    border: 0px;
                    outline: none;
                    &:hover{
                        background-color: lighten($redBrown,10%);
                        cursor: pointer;
                    }
                }
                

            }
        }
    }
    #categoriesSection{
        color: $green;
        background: url('../images//otherFeaturesBackground.png');
        background-size: cover;
        width: 100%;
        height: 90vh;
        // opacity: .4;
        padding: 3em 7em 7em 7em;
        h2{
            opacity: 1 !important;
            // z-index: 9999;
            color: $green;
            font-size: 4rem;
            text-align: center;
        }
        .container{
            // background-color: red;
            width: 100%;
            height: 100%;
            display: flex;
            margin-top: 40px;
            align-items: center;

            .result{
                width: 33%;
                height: 100%;
                // background-color: blue;
                // margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                .bodyImage{
                    width: 90%;
                    position: relative;
                    img{
                        width: 100%;
                        position: relative;
                        // position
                    }
                    .text{
                        background-color: white;
                        font-size: 1.3rem;
                        border-radius: 15px;
                        height: 100px;
                        width: 200px;
                        gap: 3px;
                        // padding: 30px 60px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(50%,-70%);
                        h3{
                            font-size: 1.8rem;
                            font-weight: 800;
                        }
                        h4{
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
                    }
                }
            }
            .resultDesc{
                padding: 0 1em;
                width: 34%;
                height: 100%;
                // background-color: violet;
                font-size: 1.4rem;
                text-align: justify;
                h3{
                    font-size: 1.7rem;
                    span{
                        color: $brown;
                    }
                }
                h4{
                    margin-top: 30px;
                }
                ul{
                    margin-top: 7px;
                    margin-left: 10px;
                    // padding-left: 50px;
                    li{
                        line-height: 25px;
                        list-style-type: circle;
                        list-style-position: inside;
                    }
                }
                .refreshBMI{
                    margin-top: 2em;
                    width: fit-content;
                    // width: 200px;
                    // height: 50px;
                    background-color: $brown;
                    padding: .4em 2em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    font-size: 1.3rem;
                    border-radius: 13px;
                    margin-left: auto;
                    i{
                        // background-color: red;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 2rem;
                        color: $redBrown;
                    }
                    &:hover{
                        background-color: darken($brown,5%);
                    }
                }
            }
            .recommendation{
                width: 33%;
                height: 100%;
                // background-color: green;
                flex-direction: column;
                display: flex;
                // justify-content: center;
                align-items: center;
                h3{
                    font-size: 1.5rem;
                    text-align: center;
                }
                .imgContainer{
                    margin-top: 1em;
                    // background-color: red;
                    .imgArea{
                        width: 250px;
                        height: fit-content;
                        // background-color: blue;
                        img{
                            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.582);
                            cursor: pointer;
                            border-radius: 20px;
                            width: 100%;
                            &:hover{
                                box-shadow: 0px 0px 0px black;
                            }
                        }

                    }
                    h4{
                        margin-top: 10px;
                        text-align: center;
                        font-weight: 800;
                        font-size: 1.7rem;
                    }
                }
            }
        }
        // .imgContent{
        //     margin-top: 3em;
        //     display: flex;
        //     gap: 80px;
        //     // background-color: red;
        //     align-items: center;
        //     justify-content: center;
        //     .imgContainer{
        //         width: 50%;
        //         // overflow: hidden;
        //         width: 400px;
        //         height: 230px;
        //         border-radius: 20px;
        //         // height: 300px;
        //         img{
        //             cursor: pointer;
        //             width: 100%;
        //             box-shadow: 0 5px 5px black;
        //             &:hover{
        //                 box-shadow: 0 0 0 black;
        //             }
        //         }
        //         h3{
        //             text-align: center;
        //             font-size: 3rem;
        //             margin-top: .3em;
        //         }
        //     }
        // }
    }
    #aboutUs{
        padding: 6em;
        width: 100%;
        // height: 100vh;
        background-color: $redBrown;
        h2{
            font-size: 4rem;
            text-align: center;
            color: $brown;
        }
        .container{
            margin-top: 4em;
            display: flex;
            justify-content: center;
            gap: 5em;
            // background-color: yellow;
            .item{
                // background-color: green;
            }
            .imgArea{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background-color: rgb(58, 58, 190);
            }
            h3{
                margin-top: 1.5em;
                text-align: center;
                font-size: 2rem;
                color: $brown;
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
};