@media only screen and (max-width: 1080px) {
    // HOME
    #home{
        #landingPage{
            h1{
                top: 20%;
                font-weight: 900;
                // transform: scale(1.1);
                font-size: 7.5rem;
            }
            .scaleImage{
                width: 90%;

                .jarumImage{
                    transform: translateX(42%) scale(.85);
                }
            }
        }
        #aboutBeFit{
            padding: 5em 6em 11em 6em;
            flex-direction: column;
            gap: 4em;
            h2{
                font-size: 5rem;
                // background-color: red;
                display: block;
            }
            .logoArea{
                margin-top:0 ;
            }
            .textArea{
                h2{
                    display: none;
                    // background-color: blue;
                }
            }
        }
        #calculatorSection{
            .container{
                .takeline{
                    font-size: 4rem;
                    text-align: center;
                    width: fit-content;
                    // margin-bottom: 1em;
                }
                .calculator{
                    // transform: scale(.8);
                }

                flex-direction: column;
            }
        }
        #categoriesSection{
            .container{
                // background-color: red;
                flex-direction: column;
                // align-items: center;
                // padding : 0;
                justify-content: center;
                .result{
                    // background-color: yellow;
                    // width: 70% !important;
                    width: 50%;
                    .bodyImage{
                        width: 100%;
                    }
                }
                .resultDesc{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-top: 2em;
                    h3{
                        text-align: center;
                    }
                    .refreshBMI{
                        margin-left: 0;
                    }
                    width: 100%;
                }
                .recommendation{
                    width: 100%;
                    margin-top: 2em;
                    
                    // flex-direction: column !important;
                }
            }
        }
        #aboutUs{
        .container{
                flex-direction: column;
                align-items: center;
                .item{
                    h3{
                        // background-color: red;
                        text-align: center;
                    }
                }
            }
        }
    }

    //FOOD
    #food {
        .foodSection{
            .filterFoods{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            padding: 0;
            .inputArea{
                margin: 0;
            }
            }
        }
    }

    //FOODDETAILS
    #foodDetails{
        background-color: red ;
        .container{
            margin: 0 2em !important;
            // padding: 2em 3em !important;
            background-color: red;

            .nutrients{
                flex-wrap: wrap;
                li{
                    border-radius: 10px !important;
                    text-align: center;
                }
            }
            .foodSummary{
                h4{
                    text-align: justify;
                }
            }
            .imgAndIngredients{
                flex-direction: column;
                .imgArea{
                    width: 100% !important;
                }
                .ingredients{
                    width: 100% !important;
                }
            }
            .instructions{
                ol{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 1em;
                    li{
                        list-style-type: none !important;
                    }
                }
            }
        }
    }

}
@media only screen and (max-width: 800px){
    header{
        // background-color: red;
        .headerContainer{
            // background-color: $brown;
            // height: 90px;
            .left{
                // background-color: yellow;
                .img{
                    width: 50px;
                    height: 50px;
                }
                h2{
                    font-size: 1.7rem;
                }
            }
            .right{
                gap: 20px;
                // background-color: $brown;
                flex-direction: column;
                nav{
                    padding-top: 13%;
                    z-index: -1;
                    position: absolute;
                    flex-direction: column;
                    top: 0px;
                    right: -1000px ;
                    width: 50%;
                    height: fit-content;
                    height: 100vh;
                    background-color: $brown;
                    padding-bottom: 20px;
                    justify-content: space-between;
                    // width: 100%;
                    gap: 20px;
                
                ul{
                    gap: 0px;
                    width: 100%;
                    flex-direction: column;
                    // display: block;
                    // gap: 20px;
                    li{
                        height: 60px;
                        text-align: left;
                        // background-color: blue;
                        .navItem{
                            color: white;
                            display: flex;
                            align-items: center;
                            // justify-content: center;
                            height: 100%;
                            width: 100%;
                            padding-left: 1.3em;
                            font-size: 1.5rem;
                            // background-color: $brown;
                            // width: ;
                            &:hover{
                                border: 0px;
                                padding-left: 2em;
                                background-color: darken($brown, 10%);
                                color: white;
                                // background-color: lighten;
                            }
                        }
                        // display: block;
                    }
                
            }   
                .headerToLogin{
                    width: 100%;
                    margin-bottom: 2em;
                    height: 50px;
                    border-radius: 0;
                    display: flex;
                    // background-color: blue;
                    align-items: center;
                    justify-content: center;
                    // margin-bottom: 20px;
                }
            }
            .show{
                right: 0%;
                z-index: -1;
            }
            i{
                display: flex;
                font-size: 3rem;
                cursor: pointer;
            }
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    // HOME
    #home{
        #landingPage{
            h1{
                top: 30%;
                font-weight: 900;
                // transform: scale(1.1);
                font-size: 8rem;
            }
            .scaleImage{
                width: 100%;
                .jarumImage{
                    transform: translateX(45%) scale(.65) translateY(15%);
                }
            }
        }
        #aboutBeFit{
            gap: 2em;
            padding: 5em 4em 10em 4em;
            flex-direction: column;
            h2{
                font-size: 10vw;
                // background-color: red;
                // display: block;
            }
            .logoArea{
                // background-color: red;
                // margin-top:0 ;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .textArea{
                margin-top: 2em;
            }
        }
        #calculatorSection{
            // padding-bottom: 0;
            .container{
                // gap: 0;
                .takeline{
                    font-size: 3rem;
                    text-align: center;
                    width: fit-content;
                    // margin-bottom: 1em;
                }
                .calculator{
                    transform: scale(.7);
                }

                flex-direction: column;
            }
        }
        #categoriesSection{
            h2{
                width: 100%;
                // background-color: red;
                font-size: 4rem;
                // display: inline;
            }
        }
        #aboutUs{
            h2{
                // background-color: blue;
            }
            .container{
                flex-direction: column;
                align-items: center;
                .item{
                    h3{
                        // background-color: red;
                        text-align: center;
                    }
                }
            }
        }
    }
    #foodDetails{
        .container{
            // background-color: red !important;
            padding: 3em !important;
        }
    }
    #article{
        background-color: red;
        .heroImage{
            .content{
                h1{
                    // background-color: red;
                    margin: 0 50px;
                    font-size: 6rem !important;
                }
            }
        }
        #cardContainer{
            padding: 0 !important;
            // background-color: yellow ;
            display: flex;
            justify-content:center !important;
            // align-items: center;

            .card{

                // background-color: red !important;
            }
        }
    }
    #workout{
        .heroImage{
            .content{
                h1{
                    font-size: 6rem !important;
                }
            }
        }
        #cardContainer{
            display: flex;
            justify-content: center !important;
            padding: 0 !important;
        }
    }
    .articleDetails{
        .imgArea{
            .container{
                z-index: 99;
                h1{
                    font-size: 3.5rem !important;
                    // background-color: red !important;
                    text-align: center !important;
                }
                // background-color: red;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                top: 50% !important;
                right: 50% !important;
                transform: translate(50%,-50%);
            }
        }
        .textArea{
            padding: 4em 3em !important;
        }
    }
}
