#workout{
    background-color: $redBrown;
    width: 100%;
    // height: 500vh;

    // padding-top: 6em;
    .heroImage{
        height: 100vh;
        width: 100%;
        background: url('../images/heroImageWorkout.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .content{
            z-index: 2;
            // background-color: yellow;
            // width: fit-content;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%,-80%);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            h1{
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.76);
                font-size: 8rem;
                color: white;
                letter-spacing: 2px;
                font-weight: 800;
            }
            a{
                text-decoration: none;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                height: 40px;
                background-color: $redBrown;
                color: white;
                font-weight: 600;
                border-radius: 10px;
                padding: .8em 1.5em;
                // margin-top: 5em;
                cursor: pointer;
                &:hover{
                    transform: scale(1.05);
                    // background-color: red;
                }
            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 40vh;
            bottom: 0;
            left: 0;
            background: linear-gradient(transparent,$redBrown);
        }
    }
    #cardContainer{
        // background-color: yellow;
        padding: 2em 6em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2em;

        .card{
            border-top-left-radius: 50px;
            overflow: hidden;
            width: 350px;
            height: 450px;
            background-color: white;
            .imgArea{
                height: 60%;
                background-color: red;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background-color: blue;
                }
            }
            .textArea{
                height: 40%;
                padding: 1em 2em;
                .title{
                    text-decoration: none;
                    color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 44px;
                    // text-align: center;
                    font-weight: 800;
                    font-size: 1.6rem;
                    // background-color: yellow;
                        white-space: nowrap;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // overflow: hidden;
                        &:hover{
                            cursor: pointer;
                            background-color: darken(white,10%);
                        border-radius: 400px;
                    }
                }
                // text-align: ;
                p{
                    height: 100px;
                    // background-color: red;
                    // margin-top: 10px;
                    text-align: justify;
                    overflow: auto;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;  /* Firefox */
                    line-height: 20px;
                    &::-webkit-scrollbar {
                        display: none;
                 }
                }
            }
        }
    }
}