@import "variables" ;
@import "landingpage";
@import "header";
@import "food";
@import "reset";
@import "hero";
@import "login";
@import "register";
@import "responsive";
@import "fooddetails";
// @import "articles";
// @import "global";
